.app {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
    "header header"
    "navigation context";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 30px;
}
