.navigation {
  grid-area: navigation;
  background-color: darkorange;
  font-size: xx-large;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  
}
nav {
  height: 100%;
}
a{
  text-decoration: none;
  color: whitesmoke;
}
a.activeLink{
  color: gold;
}